<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
    <div th:fragment="headerosf" class="small-screen-only">

        <!-- Header -->
        <header id="app-bar" class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
            <nav class="mdc-top-app-bar__row">

                <section class="mdc-top-app-bar__section">
                    <span class="cas-brand mx-auto" >
                        <img class="cas-logo" src="/images/osf-logo-white.png" alt="OSF logo">
                    </span>
                    <div class="cas-brand-text">
                        <a class="navbar-link" th:href="@{${osfUrl.home}}">
                            <span class="cas-brand-name hidden-narrow" >OSF </span>
                        </a>
                    </div>
                </section>

                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-center">
                    <div class="form-button form-button-navbar">
                        <a id="osfRegister" class="mdc-button mdc-button--raised button-osf-green desktop-only" th:href="@{${osfUrl.register}}">
                            <span class="mdc-button__label">Sign up</span>
                        </a>
                    </div>
                </section>

                <input type="checkbox" id="toggle-leftnav" class="toggle-nav-input" aria-controls='slideout-nav' hidden/>
                <label for="toggle-leftnav" class="toggle-nav-label" aria-label="Toggle navigation menu">
                    <img src="/images/menu.svg" alt="Toggle navigation menu">
                </label>

                <aside id="slideout-nav" class="left-pane slideout cas-brand-text">
                    <nav class="left-pane-nav">
                        <ul class="left-pane-nav-list">
                            <!-- Home, Search, and Support Links -->
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.home}}">
                                    <img src="/images/home.svg" alt="Home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.search}}">
                                    <img src="/images/search.svg" alt="Search">
                                    Search
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.support}}">
                                    <img src="/images/support.svg" alt="Support">
                                    Support
                                </a>
                            </li>
                            <br>
                            <!-- Registries, Preprints, Institutions, and Meetings -->
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.registries}}">
                                    <img src="/images/registries.svg" alt="Registries">
                                    Registries
                                    <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.preprints}}">
                                    <img src="/images/preprints.svg" alt="Preprints">
                                    Preprints
                                    <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.institutionsHome}}">
                                    <img src="/images/institutions.svg" alt="Institutions">
                                    Institutions
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.meetings}}">
                                    <img src="/images/meetings.svg" alt="Meetings">
                                    Meetings
                                </a>
                            </li>
                            <br>
                            <!-- Donate -->
                            <li>
                                <a class="navbar-link" th:href="@{${osfUrl.donate}}">
                                    <img src="/images/donate.svg" alt="Donate">
                                    Donate
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </nav>
        </header>

        <script type="text/javascript">
            function disableSignUpButton() {
                let signUpButton = document.getElementById("osfRegister");
                if (signUpButton != null) {
                    signUpButton.removeAttribute("href");
                    signUpButton.style.opacity = "0.8";
                    signUpButton.style.cursor = "not-allowed";
                    signUpButton.style.backgroundColor = "#efefef";
                    signUpButton.style.color = "#cccccc";
                    signUpButton.style.visibility = "hidden";
                }
            }
        </script>

        <script type="text/javascript">
            (function (material) {
                var header = {
                    init: function () {
                        material.autoInit();
                    },
                    checkCaps: function (ev) {
                        var s = String.fromCharCode(ev.which);
                        if (s.toUpperCase() === s && s.toLowerCase() !== s && !ev.shiftKey) {
                            ev.target.parentElement.classList.add('caps-on');
                        } else {
                            ev.target.parentElement.classList.remove('caps-on');
                        }
                    },
                }
                document.addEventListener('DOMContentLoaded', function () {
                    header.init();
                });
            })(mdc);
        </script>
    </div>
</body>

</html>
