<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>
    <link href="../../static/css/cas-redesigned.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
    <div th:fragment="header" class="small-screen-only">

        <!-- Header -->
        <header id="app-bar" class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
            <nav class="mdc-top-app-bar__row">

                <!-- OSF Logo -->
                <section class="mdc-top-app-bar__section">
                    <span class="cas-brand mx-auto" >
                        <img class="cas-logo" src="/images/osf-logo-white.svg" alt="OSF logo">
                    </span>
                </section>

                <!-- Note: Sign-up button only shows up in osf layout -->

                <!-- Menu button for toggle navigation links on/off -->
                <input type="checkbox" id="toggle-leftnav" class="toggle-nav-input" aria-controls='slideout-nav' hidden/>
                <label for="toggle-leftnav" class="toggle-nav-label" aria-label="Toggle navigation menu">
                    <img src="/images/menu.svg" alt="Toggle navigation menu">
                </label>

                <!-- OSF Navigation Links -->
                <aside id="slideout-nav" class="left-pane slideout cas-brand-text">
                    <!-- OSF Navigation Links -->
                    <nav class="left-pane-nav">
                        <ul class="left-pane-nav-list" th:if="${dispatcherOsfUrl}">
                            <!-- Home, Search, and Support Links -->
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.home}}">
                                    <img src="/images/home.svg" alt="Home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.search}}">
                                    <img src="/images/search.svg" alt="Search">
                                    Search
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.support}}">
                                    <img src="/images/support.svg" alt="Support">
                                    Support
                                </a>
                            </li>
                        </ul>
                        <!-- Registries, Preprints, Institutions and Meetings -->
                        <ul class="left-pane-nav-list" th:if="${dispatcherOsfUrl}">
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.registries}}">
                                    <img src="/images/registries.svg" alt="Registries">
                                    Registries
                                    <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.preprints}}">
                                    <img src="/images/preprints.svg" alt="Preprints">
                                    Preprints
                                    <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.institutionsHome}}">
                                    <img src="/images/institutions.svg" alt="Institutions">
                                    Institutions
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.meetings}}">
                                    <img src="/images/meetings.svg" alt="Meetings">
                                    Meetings
                                </a>
                            </li>
                        </ul>
                        <!-- Donate -->
                        <ul class="left-pane-nav-list" th:if="${dispatcherOsfUrl}">
                            <li>
                                <a class="navbar-link" th:href="@{${dispatcherOsfUrl.donate}}">
                                    <img src="/images/donate.svg" alt="Donate">
                                    Donate
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>

            </nav>
        </header>

        <!-- Note: No need to define disableSignUpButton() since default layout doesn't have the sign-up button. -->

        <script type="text/javascript">
            (function (material) {
                var header = {
                    init: function () {
                        material.autoInit();
                    },
                    checkCaps: function (ev) {
                        var s = String.fromCharCode(ev.which);
                        if (s.toUpperCase() === s && s.toLowerCase() !== s && !ev.shiftKey) {
                            ev.target.parentElement.classList.add('caps-on');
                        } else {
                            ev.target.parentElement.classList.remove('caps-on');
                        }
                    },
                }
                document.addEventListener('DOMContentLoaded', function () {
                    header.init();
                });
            })(mdc);
        </script>
    </div>
</body>

</html>
