<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>

<div th:fragment="header">

    <header id="app-bar" class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
        <nav class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="mdc-icon-button mdc-top-app-bar__navigation-icon">
                    <span class="mdi mdi-menu"></span>
                    <span class="sr-only">menu</span>
                </button>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-center">
                <span class="cas-brand mx-auto">
                    <img class="cas-logo" src="/images/osf-cas-banner-white.png">
                    <span class="sr-only">OSF CAS</span>
                </span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            </section>
        </nav>
    </header>

    <aside id="app-drawer" class="mdc-drawer mdc-drawer--dismissible mdc-drawer--modal">
        <div class="mdc-drawer__header">
            <img class="cas-brand cas-brand-drawer" src="/images/osf-cas-banner.png">
            <h6 class="mdc-drawer__subtitle">[[#{cas.drawer.subtitle}]]</h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item" th:href="#{osf.home.url}">
                    <i class="mdi mdi-home"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.home}]]</span>
                </a>
                <hr class="mdc-list-divider"/>
                <a class="mdc-list-item" th:href="#{osf.preprints.home.url}">
                    <i class="mdi mdi-star"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.preprints}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.registries.home.url}">
                    <i class="mdi mdi-star"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.registries}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.institutions.home.url}">
                    <i class="mdi mdi-bank"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.institutions}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.meetings.home.url}">
                    <i class="mdi mdi-account-group"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.meetings}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.support.url}">
                    <i class="mdi mdi-help-circle"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.osf.support}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.cos.donation.url}">
                    <i class="mdi mdi-heart"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.cos.donate}]]</span>
                </a>
                <a class="mdc-list-item" th:href="#{osf.cos.home.url}">
                    <i class="mdi mdi-lightbulb-on"></i>&nbsp;
                    <span class="mdc-list-item__text">[[#{cas.login.resources.cos.home}]]</span>
                </a>
            </nav>
        </div>
    </aside>

    <script type="text/javascript">
        (function (material) {
            var header = {
                init: function () {
                    header.attachTopbar();
                    material.autoInit();
                },
                attachDrawer: function () {
                    var elm = document.getElementById('app-drawer');
                    var drawer = material.drawer.MDCDrawer.attachTo(elm);
                    var closeDrawer = function (evt) {
                        drawer.open = false;
                    };
                    drawer.foundation_.handleScrimClick = closeDrawer;
                    document.onkeydown = function (evt) {
                        evt = evt || window.event;
                        if (evt.keyCode == 27) {
                            closeDrawer();
                        }
                    };
                    header.drawer = drawer;
                    return drawer;
                },
                attachTopbar: function (drawer) {
                    var drawer = header.attachDrawer();
                    header.attachDrawerToggle(drawer);
                },
                checkCaps: function (ev) {
                    var s = String.fromCharCode(ev.which);
                    if (s.toUpperCase() === s && s.toLowerCase() !== s && !ev.shiftKey) {
                        ev.target.parentElement.classList.add('caps-on');
                    } else {
                        ev.target.parentElement.classList.remove('caps-on');
                    }
                },
                attachDrawerToggle: function (drawer) {
                    var topAppBar = material.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
                    topAppBar.setScrollTarget(document.getElementById('main-content'));
                    topAppBar.listen('MDCTopAppBar:nav', function () {
                        drawer.open = !drawer.open;
                    });
                    return topAppBar;
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
                header.init();
            });
        })(mdc);
    </script>

</div>
</body>
</html>
