<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
    <div th:fragment="leftpaneosf" class="desktop-only">
        <aside class="left-pane cas-brand-text">

            <!-- OSF Logo -->
            <div class="left-pane-logo-wrapper">
                <img class="cas-logo" src="/images/osf-logo-white.svg" alt="OSF logo">
            </div>

            <!-- OSF Navigation Links -->
            <nav class="left-pane-nav">
                <!-- Home, Search, and Support Links -->
                <ul class="left-pane-nav-list">
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.home}}">
                            <img src="/images/home.svg" alt="Home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.search}}">
                            <img src="/images/search.svg" alt="Search">
                            Search
                        </a>
                    </li>
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.support}}">
                            <img src="/images/support.svg" alt="Support">
                            Support
                        </a>
                    </li>
                </ul>
                <!-- Registries, Preprints, Institutions and Meetings -->
                <ul class="left-pane-nav-list">
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.registries}}">
                            <img src="/images/registries.svg" alt="Registries">
                            Registries
                            <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                        </a>
                    </li>
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.preprints}}">
                            <img src="/images/preprints.svg" alt="Preprints">
                            Preprints
                            <img class="arrow-icon" src="/images/arrow.svg" alt="Arrow">
                        </a>
                    </li>
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.institutionsHome}}">
                            <img src="/images/institutions.svg" alt="Institutions">
                            Institutions
                        </a>
                    </li>
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.meetings}}">
                            <img src="/images/meetings.svg" alt="Meetings">
                            Meetings
                        </a>
                    </li>
                </ul>
                <!-- Donate -->
                <ul class="left-pane-nav-list">
                    <li>
                        <a class="navbar-link" th:href="@{${osfUrl.donate}}">
                            <img src="/images/donate.svg" alt="Donate">
                            Donate
                        </a>
                    </li>
                </ul>
            </nav>

        </aside>
    </div>

</body>

</html>
