/**************************************************
 * Start of default styles as of Apereo CAS 6.2.x *
 **************************************************/

/* Root / Reset */

:root {
    --cas-theme-primary: #153e50;
    --cas-theme-primary-bg: rgba(21, 62, 80, 0.2);
    --cas-theme-primary-light: #006d85;
    --cas-theme-secondary: #74C163;
    --cas-theme-success: var(--cas-theme-secondary);
    --cas-theme-danger: var(--mdc-theme-error);
    --cas-theme-warning: #e6a210;
    --cas-theme-border-light: 1px solid rgba(0, 0, 0, .2);
    --cas-theme-twitter-color: #55acee;
    --cas-theme-vimeo-color: #1ab7ea;
    --cas-theme-vk-color: #587ea3;
    --cas-theme-yahoo-color: #720e9e;
    --cas-theme-google-color: #CC5445;
    --cas-theme-facebook-color: #3B5998;
    --atlassian-theme-primary: #0747a6;
    --mdc-theme-primary: var(--cas-theme-primary, #153e50);
}

.atlassian {
    --mdc-theme-primary: var(--atlassian-theme-primary, #0747a6);
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #EFEFEF;
}

a {
    color: #153e50;
    color: var(--cas-theme-primary, #153e50);
}

a:hover, a:visited, a:active {
    color: #006d85;
    color: var(--cas-theme-primary-light);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

aside, section, main {
    display: block;
}

/* Material */

.mdc-drawer {
    top: 56px;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    display: flex;
}

.mdc-top-app-bar {
    z-index: 7;
}

/* widgets */

.notifications-count {
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: #b00020;
    background-color: var(--cas-theme-danger);
    color: #fff;
    border-radius: 50%;
    padding: 1px 3px;
    font: 8px Verdana;
}

.cas-brand {
    height: 48px;
    width: auto;
}

header>nav .cas-brand path.cls-1 {
    fill: white;
}

header>nav .cas-brand .cas-logo {
    height: 100%;
}

.caps-check:not(.caps-on) .caps-warn, .caps-check:not(.caps-on)+.caps-warn {
    display: none;
}

.login-section {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-right: var(--cas-theme-border-light, 1px solid rgba(0, 0, 0, .2));
    padding: 2rem 2.5rem;
    flex: 1;
}

.login-section:last-child {
    border: none;
}

/**
 * Disabled for OSF CAS.
 *
 * @media screen and (max-width: 767.99px) {
 *     .login-section {
 *         border-right: none;
 *         border-bottom: 1px solid rgba(0, 0, 0, .2);
 *         border-bottom: var(--cas-theme-border-light, 1px solid rgba(0, 0, 0, .2));
 *         max-width: none;
 *         padding: 0 1.5rem;
 *     }
 * }
 */

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
    text-decoration: none;
}

button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.banner {
    padding: 0.1rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border: var(--cas-theme-border-light, 1px solid rgba(0, 0, 0, .2));
    position: relative;
    border-radius: 4px;
}

.banner .banner-message {
    margin: 0.375rem 0;
}

.banner .banner-heading:first-child {
    margin-top: 0;
}

.banner .banner-message:first-child {
    margin-top: 0;
}

.banner .banner-message:last-child {
    margin-bottom: 0;
}

.banner-primary {
    border-color: #153e50;
    border-color: var(--cas-theme-primary, #153e50);
}

.banner-primary .mdi {
    color: #153e50;
    color: var(--cas-theme-primary, #153e50);
}

.banner-danger {
    border-color: #b00020;
    border-color: var(--cas-theme-danger, #b00020);
}

.banner-danger .mdi {
    color: #b00020;
    color: var(--cas-theme-danger, #b00020);
}

.banner-warning {
    border-color: #e6a210;
    border-color: var(--cas-theme-warning, #e6a210);
    color: #e6a210;
    color: var(--cas-theme-warning, #e6a210);
}

.banner-warning .mdi {
    color: #e6a210;
    color: var(--cas-theme-warning, #e6a210);
}

.banner-success {
    border-color: var(--cas-theme-success);
    color: #153e50;
    color: var(--cas-theme-primary, #153e50);
}

.banner-dismissible {
    padding-right: 4rem;
}

.banner-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}

.login-provider-item .mdc-button .mdi {
    margin-right: 0.375rem;
}

/**
 * Disabled for OSF CAS.
 *
 * @media screen and (max-width: 767.99px) {
 *     .logout-banner {
 *         width: 100%;
 *     }
 * }
 */

.cas-footer {
    font-size: 0.75rem;
}

.cas-footer>* {
    margin-right: 0.25rem;
    display: inline-block;
}

.cas-footer>*:last-child {
    margin: 0;
}

.cas-notification-dialog .mdc-dialog__content>.cas-notification-message:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-bottom: var(--cas-theme-border-light, 1px solid rgba(0, 0, 0, .2));
}

.mdc-dialog__title::before {
    display: none;
}

.mdi {
    content: "";
}

.mdi:before {
    font-size: 24px;
}

/* custom components */

.custom-select {
    display: inline-block;
    min-width: 200px;
    height: 56px;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}

/* utilities */

.bg-primary {
    background-color: rgba(21, 62, 80, 0.2);
    background-color: var(--cas-theme-primary-bg, rgba(21, 62, 80, 0.2));
}

.border-bottom {
    border-color: #153e50;
    border-bottom: 1px solid var(--cas-theme-primary, #153e50);
}

.strong {
    font-weight: bold;
}

.text-warning {
    color: #e6a210;
    color: var(--cas-theme-warning, #e6a210);
}

.text-danger {
    color: #b00020;
    color: var(--cas-theme-danger, #b00020);
}

.text-secondary, .text-success {
    color: var(--cas-theme-secondary);
}

.progress-bar-danger .mdc-linear-progress__bar-inner {
    border-color: #b00020;
    border-color: var(--cas-theme-danger, #b00020);
}

.progress-bar-warning .mdc-linear-progress__bar-inner {
    border-color: #e6a210;
    border-color: var(--cas-theme-warning, #e6a210);
}

.progress-bar-success .mdc-linear-progress__bar-inner {
    border-color: var(--cas-theme-success);
}

.word-break-all {
    word-break: break-all;
}

.mdc-text-field>.mdc-text-field__input, .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)>.mdc-text-field__input {
    border-color: #153e50;
    border: 1px solid var(--cas-theme-primary, #153e50);
    border-radius: 4px;
}

.mdc-input-group {
    display: flex;
    align-items: stretch;
}

.mdc-input-group .mdc-input-group-field {
    flex: 1 1 auto;
    order: 1;
}

.mdc-input-group .mdc-input-group-field .mdc-text-field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mdc-input-group .mdc-input-group-append {
    order: 2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mdc-input-group .mdc-input-group-prepend, .mdc-input-group .mdc-input-group-append {
    height: 56px;
}

.mdc-input-group .mdc-input-group-prepend {
    order: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mdc-input-group .mdc-input-group-field.mdc-input-group-field-prepend .mdc-text-field>.mdc-text-field__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mdc-input-group .mdc-input-group-field.mdc-input-group-field-append .mdc-text-field>.mdc-text-field__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.text-danger, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon.text-danger, .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text.text-danger {
    color: #b00020;
    color: var(--cas-theme-danger);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #153e50;
    color: var(--cas-theme-primary, #153e50);
}

.mdc-button--raised:not(:disabled) {
    background-color: var(--mdc-theme-primary, #153E50);
}

.mdc-button--raised.mdc-button-twitter:not(:disabled) {
    background-color: #55acee;
    background-color: var(--cas-theme-twitter-color, #55acee);
}

.mdc-button--raised.mdc-button-vimeo:not(:disabled) {
    background-color: #1ab7ea;
    background-color: var(--cas-theme-vimeo-color, #1ab7ea);
}

.mdc-button--raised.mdc-button-vk:not(:disabled) {
    background-color: #587ea3;
    background-color: var(--cas-theme-vk-color, #587ea3);
}

.mdc-button--raised.mdc-button-yahoo:not(:disabled) {
    background-color: #720e9e;
    background-color: var(--cas-theme-yahoo-color, #720e9e);
}

.mdc-button--raised.mdc-button-google:not(:disabled) {
    background-color: #CC5445;
    background-color: var(--cas-theme-google-color, #CC5445);
}

.mdc-button--raised.mdc-button-facebook:not(:disabled) {
    background-color: #3B5998;
    background-color: var(--cas-theme-facebook-color, #3B5998);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.text-center {
    text-align: center;
}

.w-66 {
    width: 66%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.mw-100 {
    max-width: 100%;
}

.mh-100 {
    max-height: 100%;
}

.min-vw-100 {
    min-width: 100vw;
}

.min-vh-100 {
    min-height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.vh-100 {
    height: 100vh;
}

.mw-50 {
    max-width: 50%;
}

.border-rounded {
    border-color: #153e50;
    border: 1px solid var(--cas-theme-primary, #153e50);
    border-radius: 4px;
}

.border-bottom {
    border-color: #153e50;
    border-bottom: 1px solid var(--cas-theme-primary, #153e50);
}

@media all and (min-width: 768px) {
    .w-md-50 {
        width: 50%;
    }
    .w-md-66 {
        width: 66%;
    }
}

@media all and (min-width: 992px) {
    .w-lg-50 {
        width: 50%;
    }
    .w-lg-66 {
        width: 66%;
    }
}

@media all and (max-width: 767.99px) {
    .w-md-50 {
        width: 100%;
    }
    .w-md-66 {
        width: 100%;
    }
}

@media all and (max-width: 991.99px) {
    .w-lg-50 {
        width: 100%;
    }
    .w-lg-66 {
        width: 100%;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* legacy */

#duo_iframe {
    width: 100%;
    min-width: 304px;
    height: 330px;
    border: none;
    padding: 0;
    margin: 0;
}

#serviceui {
    background-color: #17a3b844;
    border-radius: 4px;
}

/************************************************
 * End of default styles as of Apereo CAS 6.2.x *
 ************************************************/

/******************************************
 * Start of customized styles for OSF CAS *
 ******************************************/

:root {
    --cas-theme-osf-navbar: #263947;
    --cas-theme-osf-surface: #f7f7f7;
    --cas-theme-osf-footer: #efefef;
    --cas-theme-osf-grey: #eeeeee;
    --cas-theme-osf-green: #357935;
    --cas-theme-osf-blue: #1b6d85;
    --cas-theme-osf-red: #b52b27;
    --cas-theme-osf-disabled: #eeeeee;
    --cas-theme-osf-disabled-dark: #cccccc;
    --cas-theme-primary: var(--cas-theme-osf-navbar, #263947);
    --cas-theme-danger: var(--cas-theme-osf-red, #b52b27);
    --mdc-theme-primary: var(--cas-theme-primary, #263947);
    --mdc-theme-surface: var(--cas-theme-osf-surface, #f7f7f7);
}

body {
    background:
        linear-gradient(to right, #009574d8, #003f7cd8),
        url(/images/page-background.png) center center no-repeat;
    background-size: cover;
    background-blend-mode: normal;
    backdrop-filter: brightness(0.8);
    min-width: 360px;
}

.mdc-typography {
    font-family: 'Open Sans','Helvetica Neue',sans-serif!important;
}

.mdc-top-app-bar__section--align-start,
.mdc-top-app-bar__section--align-end {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mdc-top-app-bar__section--align-center {
    justify-content: center;
}

.hr-text {
    line-height: 1rem;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5rem;
    opacity: .5;
    font-size: 1rem;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, black, var(--cas-theme-osf-surface, #f7f7f7));
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: var(--cas-theme-osf-surface, #f7f7f7);
}

.form-button {
    display: block;
    margin: 0.5rem 0;
}

.form-button-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.25rem 0;
}

.form-button .mdc-button,
.form-button-inline .mdc-button {
    width: 100%;
    min-width: fit-content;
    text-transform: none;
    white-space: nowrap;
    height: 56px;
}

.form-button-inline .mdc-button {
    flex-basis: 48%;
    margin: 0.25rem 0;
    padding: 0 8px;
}

.form-button .button-osf-navbar,
.form-button-inline .button-osf-navbar {
    background-color: var(--cas-theme-osf-navbar, #263947);
}

.form-button .button-osf-grey,
.form-button-inline .button-osf-grey {
    background-color: var(--cas-theme-osf-grey, #eeeeee);
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
}

.form-button .button-osf-green,
.form-button-inline .button-osf-green {
    background-color: var(--cas-theme-osf-green, #357935);
}

.form-button .button-osf-blue,
.form-button-inline .button-osf-blue {
    background-color: var(--cas-theme-osf-blue, #1b6d85);
}

.form-button .button-osf-red,
.form-button-inline .button-osf-red {
    background-color: var(--cas-theme-osf-red, #b52b27);
}

.form-button .button-osf-disabled,
.form-button-inline .button-osf-disabled {
    background-color: var(--cas-theme-osf-disabled, #EFEFEF);
}

.mdc-top-app-bar__row,
.mdc-top-app-bar__row .mdc-top-app-bar__section {
    min-width: fit-content;
}

.mdc-top-app-bar__row .cas-brand,
.mdc-top-app-bar__row .cas-brand-text {
    margin-right: 0.5em!important;
    margin-left: 0.5em!important;
}

.cas-brand-text .navbar-link {
    text-decoration: none;
    color: #F7F7F7;
}

.cas-brand-text .navbar-link:hover,
.cas-brand-text .navbar-link:visited,
.cas-brand-text .navbar-link:active {
    color: #F7F7F7;
}

.mdc-top-app-bar__row .button-osf-disabled {
    opacity: 0.8;
    cursor: not-allowed;
    color: var(--cas-theme-osf-disabled-dark, #cccccc);
}

.mdc-top-app-bar__row .cas-brand-name {
    font-weight: bold;
    color: #F7F7F7;
}

.mdc-top-app-bar__row .hidden-narrow,
.service-ui .osf-shield-with-name .hidden-narrow {
    font-weight: normal;
}

.login-section,
.login-error-card {
    border: none;
    width: 512px;
}

.login-error-card {
    padding: 2rem 2.5rem;
    flex: 1;
}

#serviceui {
    background-color: transparent;
}

.service-ui {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.service-ui .service-ui-logo {
    max-height: 56px;
    max-width: 360px;
}

.service-ui .service-ui-logo-branded {
    max-height: 48px;
    max-width: 360px;
}

.service-ui .osf-shield-with-name {
    margin: 0 auto;
    padding-bottom: 1rem;
}

.osf-shield-with-name-branded {
    width: 1px;
}

.osf-shield-with-name .service-ui-logo {
    padding-right: 0.5rem;
}

.osf-shield-with-name .service-ui-logo-branded {
    padding-right: 1rem;
}

.osf-shield-with-name .service-ui-name {
    font-size: 2.25rem;
    font-weight: bold;
}

.osf-shield-with-name .service-ui-name-branded {
    font-size: 2rem;
    font-weight: normal;
    white-space: nowrap;
}

.text-with-mdi,
.text-without-mdi {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.mdi-before-text {
    font-size: inherit;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.mdi-before-text:before {
    font-size: inherit;
}

.title-danger {
    color: var(--cas-theme-osf-red, #b52b27);
}

.text-no-wrap {
    white-space: nowrap;
}

.text-bold {
    font-weight: bold;
}

.text-large {
    font-size: 1.125rem;
}

.margin-large-vertical {
    margin: 1rem 0;
}

.hidden-button,
.hidden-details {
    display: none;
}

.form-button-inline .delegation-button-logo {
    position: absolute;
    left: 4px;
    top: 12px;
    padding: 6px;
    height: 36px;
}

.form-button-inline .delegation-button-label {
    font-size: 0.875rem;
    color: black;
    white-space: nowrap;
    padding-left: 28px;
}

.login-error-card .form-button {
    padding-top: 1rem;
}

.login-section .mdc-button,
.login-section .mdc-text-field,
.login-error-card .mdc-button,
.login-error-card .mdc-text-field {
    font-size: 1rem;
}

.login-error-card .pre-formatted-small pre {
    font-size: 0.75rem;
    white-space: pre-wrap;
}

.login-section .background-disabled {
    background-color: var(--cas-theme-osf-disabled-dark, #cccccc);
}

.login-section .reveal-password {
    background-color: var(--cas-theme-osf-blue, #1b6d85);
}

.login-section .login-error-list {
    margin-bottom: -0.5rem;
}

.login-section .card-message {
    padding: 1rem 0;
}

.login-error-card .card-message {
    padding: 0;
}

.login-section .instn-select select {
    width: 100%;
    height: 56px;
    font-size: 1.125rem;
    margin: 0.5rem 0;
}

.login-error-list .banner {
    border: none;
    position: relative;
}

.login-error-list .banner-dismissible {
    background-color: transparent;
    color: var(--cas-theme-osf-red, #b52b27);
    margin: -0.5rem 0;
}

.login-error-list .login-error-inline {
    margin: 0.25rem 0;
}

.cas-field-primary {
    margin-bottom: 1rem!important;
    margin-top: 0.5rem!important;
}

.cas-field-col-2 {
    margin-top: 1rem!important;
    margin-bottom: 1.5rem!important;
}

.cas-field-float-left {
    float: left;
}

.cas-field-float-right {
    float: right;
}

.cas-footer-osf {
    text-align: center;
    background: var(--cas-theme-osf-footer, #efefef);
}

@media all and (min-height: 1199.99px) {

    .mdc-top-app-bar__row {
        height: 64px;
    }
    .mdc-top-app-bar__row .mdc-button {
        height: 44px;
        font-size: 1rem
    }
    .mdc-top-app-bar__row .cas-brand {
        height: 40px;
    }
    .mdc-top-app-bar__row .cas-brand-name {
        font-size: 2rem;
    }
    .mdc-top-app-bar--fixed-adjust {
        padding-top: 64px;
    }

    .mdc-top-app-bar__row .mdc-button {
    }

    .service-ui {
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }

    .cas-footer-osf {
        font-size: 1.125rem!important;
        padding-bottom: 1.125rem!important;
        padding-top: 1.125rem!important;
    }
}

@media all and (max-height: 1199.99px) {

    .mdc-top-app-bar__row {
        height: 56px;
    }
    .mdc-top-app-bar__row .mdc-button {
        height: 40px;
        font-size: 1rem
    }
    .mdc-top-app-bar__row .cas-brand {
        height: 36px;
    }
    .mdc-top-app-bar__row .cas-brand-name {
        font-size: 1.75rem;
    }
    .mdc-top-app-bar--fixed-adjust {
        padding-top: 48px;
    }

    .service-ui {
        margin-top: 0.875rem!important;
        margin-bottom: 0.875rem!important;
    }

    .cas-footer-osf {
        font-size: 1rem!important;
        padding-bottom: 1rem!important;
        padding-top: 1rem!important;
    }
}

@media all and (max-height: 899.99px) {

    .mdc-top-app-bar__row {
        height: 48px;
    }
    .mdc-top-app-bar__row .mdc-button {
        height: 32px;
        font-size: 0.875rem
    }
    .mdc-top-app-bar__row .cas-brand {
        height: 32px;
    }
    .mdc-top-app-bar__row .cas-brand-name {
        font-size: 1.5rem;
    }
    .mdc-top-app-bar--fixed-adjust {
        padding-top: 36px;
    }

    .service-ui {
        margin-top: 0.75rem!important;
        margin-bottom: 0.75rem!important;
    }

    .cas-footer-osf {
        font-size: 0.875rem!important;
        padding-bottom: 0.875rem!important;
        padding-top: 0.875rem!important;
    }
}

@media all and (max-height: 699.99px) {

    .mdc-top-app-bar__row {
        height: 40px;
    }
    .mdc-top-app-bar__row .cas-brand {
        height: 28px;
    }
    .mdc-top-app-bar__row .cas-brand-name {
        font-size: 1.25rem;
    }
    .mdc-top-app-bar__row .mdc-button {
        height: 28px;
        font-size: 0.75rem;
    }
    .mdc-top-app-bar--fixed-adjust {
        padding-top: 24px;
    }

    .service-ui {
        margin-top: 0.5rem!important;
        margin-bottom: 0.5rem!important;
    }

    .cas-footer-osf {
        font-size: 0.625rem!important;
        padding-bottom: 0.625rem!important;
        padding-top: 0.625rem!important;
    }
}

@media all and (min-width: 699.99px) {

    .w-card-narrow {
        width: 50%;
    }
    .w-card-wide {
        width: 75%;
    }

    .service-ui .service-ui-logo {
        max-width: 320px;
    }
}

@media all and (max-width: 699.99px) {

    .mdc-top-app-bar__row .hidden-narrow,
    .service-ui-name .osf-shield-with-name .hidden-narrow {
        display: None;
    }

    .w-card-narrow {
        width: 100%;
    }
    .w-card-wide {
        width: 100%;
    }

    .service-ui .service-ui-logo {
        max-width: 280px;
    }

    .osf-shield-with-name .service-ui-logo {
        max-height: 48px;
    }

    .osf-shield-with-name .service-ui-name {
        font-size: 2rem;
    }

    .osf-shield-with-name .service-ui-name-branded {
        font-size: 1.75rem;
    }
}

@media all and (max-width: 511.99px) {

    .login-section,
    .login-error-card {
        width: fit-content;
        min-width: 360px;
    }

    .form-button-inline .mdc-button {
        flex-basis: 100%;
        min-width: fit-content;
        font-size: 1rem;
        padding: 0 16px;
    }

    .form-button-inline .delegation-button-logo {
        position: absolute;
        left: 20px;
        top: 11px;
        padding: 2px;
        height: 36px;
    }

    .form-button-inline .delegation-button-label {
        font-size: 1rem;
    }

    .osf-shield-with-name .service-ui-name-branded {
        white-space: normal;
    }
}

@media all and (max-width: 399.99px) {

    .service-ui .service-ui-logo {
        max-width: 240px;
    }

    .osf-shield-with-name .service-ui-logo {
        max-height: 36px;
    }

    .osf-shield-with-name .service-ui-name {
        font-size: 1.75rem;
    }

    .osf-shield-with-name .service-ui-name-branded {
        font-size: 1.5rem;
    }

    .login-section .mdi-before-text,
    .login-error-card .mdi-before-text {
        display: none;
    }

    .cas-footer-osf {
        font-size: 0.625rem!important;
        padding-bottom: 0.625rem!important;
        padding-top: 0.625rem!important;
    }
}

/****************************************
 * End of customized styles for OSF CAS *
 ****************************************/
