<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.institutionlogin.title}"></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body class="login mdc-typography">
        <div layout:fragment="content" class="d-flex justify-content-center">
            <div class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content w-lg-30">
                <section class="login-section login-form">

                    <section class="mb-4 service-ui text-center">
                        <table class="osf-shield-with-name">
                            <tbody>
                            <tr>
                                <td>
                                    <img class="service-ui-logo" src="/images/osf-logo.png">
                                </td>
                                <td>
                                    <span class="service-ui-name hidden-narrow">OSF </span>
                                    <span class="service-ui-name">INSTITUTIONS</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="text-without-mdi text-center text-bold text-large margin-large-vertical">
                        <span th:utext="#{screen.institutionlogin.tips}"></span>
                    </section>

                    <section class="card-message">
                        <p th:unless=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.message.select}"></p>
                        <p th:if=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.message.auto}"></p>
                    </section>

                    <section class="text-with-mdi text-bold text-large">
                        <i class="mdi mdi-bank mdi-before-text"></i>
                        <span th:unless=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.heading.select}"></span>
                        <span th:if=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.heading.auto}"></span>
                    </section>

                    <section class="instn-select">
                        <select class="select" id="institutionSelect" autofocus="autofocus" onchange="checkSelection()" th:disabled="${osfCasLoginContext.institutionId != null}">
                            <option th:each="key: ${institutions.keySet()}" th:value="${key}" th:text="${institutions.get(key)}"></option>
                        </select>
                    </section>

                    <section class="text-with-mdi" th:if=${osfCasLoginContext.institutionId}>
                        <i class="mdi mdi-checkbox-blank-off-outline mdi-before-text"></i>
                        <span><a th:href="@{/login(campaign=institution, institutionId=${institutionId ?: ''}, service=${service?.originalUrl ?: ''})}" th:utext="#{screen.institutionlogin.link.select}"></a></span>
                    </section>

                    <section class="form-button">
                        <button type="button" id="institutionSubmit" class="mdc-button mdc-button--raised" name="submit" onclick="institutionLogin()"
                                th:classappend="${osfCasLoginContext.institutionId == null ? 'button-osf-disabled' : 'button-osf-blue'}"
                                th:disabled="${osfCasLoginContext.institutionId == null}" >
                            <span class="mdc-button__label" th:text="#{screen.institutionlogin.button.submit}"></span>
                        </button>
                    </section>

                    <hr class="my-4" />

                    <section class="text-with-mdi">
                        <i class="mdi mdi-account-question-outline mdi-before-text"></i>
                        <span>
                            <a href="https://help.osf.io/hc/en-us/articles/360019737194-Sign-in-to-OSF" th:utext="#{screen.generic.link.support}"></a>
                        </span>
                    </section>

                    <section class="text-with-mdi">
                        <i class="mdi mdi-backburger mdi-before-text"></i>
                        <span>
                            <a th:href="@{/login(service=${service?.originalUrl ?: ''})}" th:utext="#{screen.institutionlogin.osf}"></a>
                        </span>
                    </section>

                </section>
            </div>

            <script type="text/javascript" th:inline="javascript">
                function institutionLogin () {
                    let submitButton = document.getElementById("institutionSubmit");
                    let selectDropdownList = document.getElementById("institutionSelect");
                    let institutionLoginUrl = selectDropdownList.options[selectDropdownList.selectedIndex].value;
                    if (institutionLoginUrl == null || institutionLoginUrl === "") {
                        submitButton.disabled = true;
                        submitButton.style.backgroundColor = "#efefef";
                        return;
                    }
                    if (institutionLoginUrl === "okstate") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${okstateUrl}]]*/ '';
                        /*]]>*/
                    } else if (institutionLoginUrl === "cord") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${cordUrl}]]*/ '';
                        /*]]>*/
                    } else if (institutionLoginUrl === "fakecas") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${pac4jInstnLoginUrls.get('fakecas')}]]*/ '';
                        /*]]>*/
                    } else {
                        let lastIndexOfHash = institutionLoginUrl.lastIndexOf("#");
                        if (lastIndexOfHash >= 0) {
                            institutionLoginUrl = institutionLoginUrl.substring(0, lastIndexOfHash);
                        }
                    }
                    window.location = institutionLoginUrl;
                }
            </script>

            <script type="text/javascript">
                function checkSelection() {
                    let submitButton = document.getElementById("institutionSubmit");
                    let selectDropdownList = document.getElementById("institutionSelect");
                    let institutionLoginUrl = selectDropdownList.options[selectDropdownList.selectedIndex].value;
                    if (institutionLoginUrl == null || institutionLoginUrl === "") {
                        submitButton.disabled = true;
                        submitButton.style.backgroundColor = "#efefef";
                    } else {
                        submitButton.disabled = false;
                        submitButton.style.backgroundColor = "#1b6d85";
                    }
                }
            </script>

        </div>
    </main>
</body>

</html>
