<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.institutionlogin.pagetitle}"></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
    <main role="main" class="container mt-3 mb-3">

        <div layout:fragment="content" class="row">
            <div class="banner-generic m-auto mdc-card p-4 w-card-narrow">
                <div class="login-generic-card login-instn-card">
                    <div th:replace="fragments/osfinstitutionbannerui :: osfInstitutionBannerUI">
                        <a href="fragments/osfinstitutionbannerui.html"></a>
                    </div>
                    <hr class="my-4" />
                    <div class="card-message">
                        <h2 th:utext="#{screen.institutionlogin.heading}"></h2>
                        <p th:utext="#{screen.institutionlogin.message}"></p>
                    </div>
                    <h3 class="text-with-mdi">
                        <i class="mdi mdi-bank mdi-before-text"></i>
                        <span th:unless=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.select}"></span>
                        <span th:if=${osfCasLoginContext.institutionId} th:utext="#{screen.institutionlogin.select.auto}"></span>
                    </h3>
                    <div class="instn-select">
                        <select class="select" id="institutionselect" autofocus="autofocus" onchange="checkSelect()" th:disabled="${osfCasLoginContext.institutionId != null}">
                            <option th:each="key: ${institutions.keySet()}" th:value="${key}" th:text="${institutions.get(key)}"></option>
                        </select>
                    </div>
                    <div class="text-with-mdi" th:if=${osfCasLoginContext.institutionId}>
                        <i class="mdi mdi-menu mdi-before-text"></i>
                        <span><a th:href="@{/login(campaign=institution, institutionId=${institutionId ?: ''}, service=${service?.originalUrl ?: ''})}" th:utext="#{screen.institutionlogin.select.all}"></a></span>
                    </div>
                    <div class="instn-login-error" th:unless=${osfCasLoginContext.institutionId}>
                        <div id="selecterrormessage" style="display: none;" class="banner banner-danger banner-dismissible" >
                            <p class="login-error-inline" th:utext="#{screen.institutionlogin.select.errormessage}"></p>
                            <a href="#" onclick="dismissErrorBanner('selecterrormessage'); return false;" class="close">&times;</a>
                        </div>
                    </div>
                    <div class="instn-consent">
                        <input type="checkbox" id="consentcheckbox" value="true" tabindex="5" onchange="checkConsent(this)" />
                        <label for="consentcheckbox" th:utext="#{screen.institutionlogin.consent.checkbox}"></label>
                    </div>
                    <div class="instn-login-error">
                        <div id="consenterrormessage" style="display: none;" class="banner banner-danger banner-dismissible" >
                            <p class="login-error-inline" th:utext="#{screen.institutionlogin.consent.errormessage}"></p>
                            <a href="#" onclick="dismissErrorBanner('consenterrormessage'); return false;" class="close">&times;</a>
                        </div>
                    </div>
                    <div class="form-button">
                        <button type="button" id="instnsubmit" class="mdc-button mdc-button--raised button-osf-green" name="submit" onclick="institutionLogin()">
                            <span class="mdc-button__label" th:text="#{screen.institutionlogin.button.submit}"></span>
                        </button>
                    </div>
                    <div>
                        <hr class="hr-text" data-content="OR" />
                    </div>
                    <div id="orcidlogin" th:if="${osfCasLoginContext.orcidLoginUrl}">
                        <section class="delegation-row">
                            <a class="delegation-button" th:href="@{${osfCasLoginContext.orcidLoginUrl}}">
                                <img class="delegation-button-logo" src="/images/orcid-logo.png">
                                <span class="delegation-button-label" th:utext="#{screen.delegation.button.orcid}"></span>
                            </a>
                        </section>
                    </div>
                    <div id="osfDefaultLogin">
                        <section class="delegation-row">
                            <a class="delegation-button" th:href="@{/login(service=${service?.originalUrl ?: ''})}">
                                <img class="delegation-button-logo" src="/images/osf-logo.png">
                                <span class="delegation-button-label" th:utext="#{screen.institutionlogin.osf}"></span>
                            </a>
                        </section>
                    </div>
                </div>
            </div>

            <script th:inline="javascript">
                function institutionLogin () {
                    let institutionSelect = document.getElementById("institutionselect");
                    let institutionLoginUrl = institutionSelect.options[institutionSelect.selectedIndex].value;
                    let selectErrorMessage = document.getElementById("selecterrormessage");
                    let consentCheckbox = document.getElementById('consentcheckbox');
                    let consentErrorMessage = document.getElementById("consenterrormessage");
                    if (institutionLoginUrl == null || institutionLoginUrl === "") {
                        selectErrorMessage.style.display = "block";
                        if (consentCheckbox != null) {
                            consentErrorMessage.style.display = consentCheckbox.checked ? "none" : "block";
                        }
                        return;
                    }
                    if (institutionLoginUrl === "okstate") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${okstateUrl}]]*/ 'error: empty login url for okstate';
                        /*]]>*/
                    } else if (institutionLoginUrl === "cord") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${cordUrl}]]*/ 'error: empty login url for cord';
                        /*]]>*/
                    } else if (institutionLoginUrl === "fakecas") {
                        /*<![CDATA[*/
                            institutionLoginUrl = /*[[${pac4jInstnLoginUrls.get('fakecas')}]]*/ 'error: empty login url for cord';
                        /*]]>*/
                    } else {
                        let lastIndexOfHash = institutionLoginUrl.lastIndexOf("#");
                        if (lastIndexOfHash >= 0) {
                            institutionLoginUrl = institutionLoginUrl.substring(0, lastIndexOfHash);
                        }
                    }
                    if (consentCheckbox != null && !consentCheckbox.checked) {
                        consentErrorMessage.style.display = "block";
                    } else {
                        window.location = institutionLoginUrl;
                    }
                }
                function checkConsent(consentCheckbox) {
                    let consentErrorMessage = document.getElementById("consenterrormessage");
                    if (consentErrorMessage != null) {
                        consentErrorMessage.style.display = consentCheckbox.checked ? "none" : "block";
                    }
                }
                function checkSelect() {
                    let selectErrorMessage = document.getElementById("selecterrormessage");
                    if (selectErrorMessage != null) {
                        selectErrorMessage.style.display = "none";
                    }
                }
                function dismissErrorBanner(bannerId) {
                    let bannerToDismiss = document.getElementById(bannerId);
                    if (bannerToDismiss != null) {
                        bannerToDismiss.style.display = "none";
                    }
                }
            </script>
        </div>
    </main>
</body>

</html>
