<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.generic.logout.header}"></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content">
            <div class="banner-generic m-auto mdc-card p-4 w-card-narrow">
                <div class="login-generic-card">
                    <div th:replace="fragments/osfbannerui :: osfBannerUI">
                        <a href="fragments/osfbannerui.html"></a>
                    </div>
                    <hr class="my-4" />
                    <div class="card-message">
                        <h2 th:utext="#{screen.generic.logout.heading}"></h2>
                        <p th:utext="#{screen.generic.logout.message}"></p>
                    </div>
                    <div class="form-button">
                        <a class="mdc-button mdc-button--raised button-osf-green" th:href="@{/login}">
                            <span class="mdc-button__label" th:utext="#{screen.generic.button.backtologin}"></span>
                        </a>
                    </div>
                    <div class="form-button">
                        <a class="mdc-button mdc-button--raised button-osf-blue" th:href="@{/logout(service=${osfUrl.logout})}">
                            <span class="mdc-button__label" th:utext="#{screen.generic.button.backtoosf}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
